*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main{
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.chatbox{
box-shadow: rgb(111, 124, 153) 0px 0px 100px 30px ;  
}
.btnauth{
  background-color: rgb(219, 92, 53);
border: none;
}


.btnauth:hover{
  background-color: rgb(199, 16, 16);
  
  border: none;
}

.btnroom{
  background-color: rgb(219, 92, 53);
border: none;
}


.btnroom:hover{
 background-color: rgb(199, 16, 16);
 border: none;
 
}
.chatForm{
  width: 100%;
  height: 10%;
  background-color: rgb(232, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.chatForm input{
  outline: none;
  border: none;
}
.chatForm button{
  background-color: rgb(27, 75, 207);
  color: white;
}
.msgs-room{
  border-bottom:1px solid blue;
  
}

.msgsList {
  width: 100%;
  height: 90%;
  background-color: aqua;
  overflow-y: scroll;
  
}
.msgsList img {
  width: 10%;
}
.msgsList p {
  }
p{
  margin: 0;
}

.user2msg{
  background-color: rgb(233, 238, 238);
  color: black;
}
